@{
    ViewBag.Title = "Om";
}
<h2>Om Glassa</h2>

<div id="text">
    <p>Varje sommar kommer glassföretagen ut med nya glassorter och varje sommar är ens största mission att testa alla som verkar smarriga. </p>
    <p>
        För att få koll på villka som verkar smarriga och vilka man redan har testat (samt hur långt man har kvar tills man har uppnått totalt-episk-sommar)
        använder du Glassa och gör en egen liten glassig check-list!
    </p>
</div>



