body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d2ffa0
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    font-family: 'Cooper Std';
    font-size: 25px;
    color: #f53173;
}

h3 {
    font-family: 'Cooper Std';
    font-size: 20px;
}

p {
    color: #000;
}

a {
    color: #7b2a93;
}
    a:hover {
        color: #7b2a93;
    }

.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
}

.navbar-inverse .navbar-brand {
    font-family: 'Cooper Std';
    font-size: 30px; 
    padding: 10px 0px 0px 15px;
    margin: 10px; 
    color: #29f7f1;
}
     .navbar-inverse .navbar-brand:hover {
        color: #000;
     }

.navbar-inverse .navbar-nav li a {
    color: #000;
}
    .navbar-inverse .navbar-nav li a:hover {
        color: #29f7f1;
    }

#status {
    text-align: center;
}

#glass {
    width: 250px;
    background: #fff;
    float: left;
    text-align: center;
    margin: 15px;
    padding: 15px;
}
    #glass img {
        margin-bottom: 20px;
        height: 200px;
    }
    #glass h2 {
        height: 75px;
    }

#text {
    width: 400px;
}

#tasted-check {
    position: relative;
    top: -230px;
    height: 0px;
}

.btn-default {
    background-color: #fef7b1;
    color: #f53173;
    border-color: #f53173;
}
    .btn-default:hover {
        background-color: #fef280;
        color: #f53173;
        border-color: #f53173;
    }
    .btn-default:active {
        background-color: #fef280;
        color: #d40c4f;
        border-color: #d40c4f;
    }

.btn-no {
    background-color: #fff;
    color: #ebbfce;
    border-color: #ebbfce;
}
    .btn-no:hover {
        background-color: #fff;
        color: #f53173;
        border-color: #ebbfce;
    }